
  #tableHead{
    background-color:#E5E5E5 ;
    border-radius: 20px;
    color: #686868;
    
  }
  #TabelContainer{
   
    padding:25px;
    margin:50px
  }
  #Addadmin{
    display: flex;
  }
#Adminform{
width: 40%;
}
#addService{
  width: 100%;
  display: flex;
  justify-content: space-around
}

#part1{
  width: 40%;
}
#part2{
  width: 40%;
}
#userForm{
  width: 60%;
}
  @media screen and (max-width: 820px) {
    #TabelContainer{
      
      padding:2px;
      margin: 5px;
      margin-top:20px

    }
   
    #Adminform{
      width: 90%;
      }
    #Addadmin{
      display: block;
    }
    #addService{
      display: block;
    }
    #part1{
      width: 90%;
    }
    #part2{
      width: 90%;
    }
    #cardContainer{
      margin: 10px;
       text-align: center 
   }
   #userForm{
    width: 90%;
  }
}