
#parent{
    
    margin: auto;
   width: 50%;
   
   text-align: center;
   padding:30px 10px;
}
.login-form{
  
   box-shadow: 5px 5px 10px rgb(0,0,0,.1),
                   -5px -5px 10px rgb(0,0,0,.05);
   padding: 30px 10px;
   height: 350px;
   margin-top: 10%;
}
#sigining-btn{
   border: 1px solid #777;
   border-radius: 25px;
   width: 60%;
   margin-top: 20px;
}
@media screen and (max-width: 780px) {
   #parent {
      width: 80%;
    }
   #sigining-btn{
      width: 90%;
      
   }
}

